# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\t-jus\Documents\School_Development\tci_justice_dreischor\Week1\PA1.1\tci_week1_assignment-I_DARE_YOU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
